.App {
  text-align: center;
}

@media (min-width: 544px) {  
  .large { 
    font-weight: bold; 
    font-size: 50px;
  }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .large { 
    font-weight: bold; 
    font-size: 40px;
  }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .large { 
    font-weight: bold; 
    font-size: 72px;
  }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .large { 
    font-weight: bold; 
    font-size: 72px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
